<form action="{{ url_for('save_port') }}" method='post'>
  <input type="text" name="port" id="port" placeholder="Port" required>
  <button type='submit'>Submit</button></label>
</form>
<style>
  form {
  margin:0 auto;
  width:300px
}
input {
  margin-bottom:3px;
  padding:10px;
  width: 100%;
  border:1px solid #CCC
}
button {
  padding:10px
}
label {
  cursor:pointer
}
#form-switch {
  display:none
}
#register-form {
  display:none
}
#form-switch:checked~#register-form {
  display:block
}
#form-switch:checked~#login-form {
  display:none
}
</style>
